* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.handle {
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.canvas {
    position: relative;
    float:left;
    width: 100%;
    height: 100vh;
    background-color: #3c464c;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 40px 40px;
}

.controls {
    top: 0;
    position: absolute;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: #3e3e3e;
    z-index: 9999;
}
.node {
    fill: #50607e;
    box-shadow: -1px 5px 13px 1px rgba(30,30,30,0.8);
    border-color: rgba(255,255,255,0.4);
}
.node .input, .node .output {
    fill: #CCC;
    stroke: black;
    stroke-width: 1px;
}
.node .input text, .node .output text {
    stroke-width: 0;
}
.node .close {
    fill: black;
}
.node .close:hover {
    fill: #CCC;
    cursor: pointer;
}
.node .title {
    fill: #617b79;
}
.node text.body {
    fill: #CCC;
}
.node text.title {
    fill: black;
}

.patch {
    fill: transparent;
    stroke: lightgray;
}